body{
	font-family: Montserrat !important;
}

#logo{
	height: 20%;
}

#wrapper{
   width:100%;
   margin:0 auto;
   text-align:left;
}

table, th, td {
	
    padding: 5px !important;

}

h1{	
	text-align: center;
}

ul {
	
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #555;
    color: white;
}

ul{
	list-style-type: none;
	margin-left:10px;
}

a{
	font-family: Montserrat !important;
	text-transform: uppercase;	
	margin-bottom:5px;
	padding:2px;	
}

a:hover {
	text-decoration:none !important;
	color: black !important;
	background-color: #1A72AD;
}

.movies{
	height: 150px;
}

#header{
	height: 40%;
	background-image: url(bruce.jpg);
	background-repeat: no-repeat;
	background-size:40%;
	background-position: center;


}

#middle{
	position:relative;
	top: 100%;
	
}

#container{
	width:100%;
    position:relative;
	float:left;
	overflow:hidden;

}

#left{	
	float:left;
	width:15%;	
	position:relative;
	overflow:hidden;
}


#right{
	background-color: #F8F8FF;
	float:right;
	width:10%;
	height: 100%;
	text-align: left;
	padding: 10px;
}

#search{
	position: relative;
	text-align: center;
	top: 50%;
}

#login{
	float:right;
	width:10%;
	text-align: left;

}

#footer{
	clear:both;
	height: 140px;	
	text-align:center;
	padding:5px;

}
