spring:
  application:
    name: Movios
  jpa:
    hibernate:
      dialect: org.hibernate.dialect.MySQLInnoDBDialect
      naming-strategy: org.hibernate.cfg.EJB3NamingStrategy
      ddl-auto: update
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/movios
    username: root	
    password: 123
  jackson:
    serialization:
      fail-on-empty-beans: false

server:
  context-path: /api
  
logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate: ERROR
    com.example.school: INFO	