<!DOCTYPE>
<html>
<title>Movio</title>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS/stylesheet.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body ng-app="admin" ng-controller="mainControl">

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript" src="JS/adminGetMovies.js"></script>


		<div id="header">
			<div id="search" class="text-center">
				<input type="text" size="40" placeholder="Search..." ng-model="search">
			</div>

		</div>



	<div id="adminContainer">
		<div class="text-center">
			<form name="adminForm" ng-submit="submitForm()">
				<div class="input-fields">
					<h1>LÄGG TILL FILM</h1>
					<hr>
					<input type="text" class="adminInput" placeholder="Länk till bild" ng-model="addCover" required>
					<input type="text" class="adminInput" placeholder="Titel" ng-model="addTitle" id="titleForm" required>
					<input type="number" class="adminInput" placeholder="Längd" ng-model="addLength" required>
					<input type="number" class="adminInput" placeholder="Utgivningsår" minlength="4" maxlength="4" min="1900" max={{year}} ng-model="addYear" required>
					<textarea class="txtArea" class="adminInput" placeholder="Synopsis" ng-model="addSynopsis" required> </textarea>
					<select ng-model="selectedGenre" ng-options="x for x in genres" required>
						<option value="">Genre</option>
					</select>
					<input type="number" class="adminInput" placeholder="Pris" ng-model="addPrice" required>
					<input type="number" class="adminInput" placeholder="Antal" ng-model="addAmount">

					<button type="submit" value="OK" ng-disabled="adminForm.$invalid">OK</button>
					<button type="button" value="Clear" ng-click=clearForm();>Clear</button>
				</div>
			</form>
		</div>
	</div>
			<div class="table-responsive" id="adminTable">

				<table class="table">
					<thead>
					<tr>
						<th>Omslag</th>
						<th>Titel</th>
						<th>Längd</th>
						<th>Utgivningsår</th>
						<th>Synopsis</th>
						<th>Genre</th>
						<th>Pris</th>
						<th>Amount</th>
						<th>Ta bort</th>
						<th>Uppdatera</th>

					</tr>
					</thead>

						<tbody>
							<form name="updateForm">
								<tr ng-repeat="x in movies | filter:search">
									<td style="display:none" id="movieID" ng-model="id" >{{x.id}}</td>

									<td ng-hide="editorEnable"><img height="120px" src="{{x.coverStr}}" alt="image"/>
									<td ng-show="editorEnable"><input type="text" class="adminInput" placeholder="{{x.coverStr}}" ng-model="newCover"></td>

									<td ng-hide="editorEnable"> {{x.title}} </td>
									<td ng-show="editorEnable"><input type="text" style="width: 100px;" placeholder="{{x.title}}" ng-model="newTitle"></td>

									<td ng-hide="editorEnable">{{x.length}}</td>
									<td ng-show="editorEnable">	<input type="number" style="width: 60px;" placeholder="{{x.length}}" ng-model="newLength"></td>

									<td ng-hide="editorEnable">{{x.release_year}}</td>
									<td ng-show="editorEnable"><input type="number" style="width: 60px;" minlength="4" maxlength="4" min="1900" max={{year}} placeholder="{{x.release_year}}" ng-model="newYear"></td>
									<!-- <p ng-show="updateForm.newYear.$invalid && !updateForm.newYear.$pristine" class="help-block">Skriv in utgivningsår mellan 1900-2016</p> -->

									<td ng-hide="editorEnable"> {{x.synopsis}} </td>
									<td ng-show="editorEnable">
										<textarea class="txtArea" placeholder="{{x.synopsis}}" ng-model="newSynopsis" required> </textarea>
									</td>

									<td ng-hide="editorEnable"> {{x.genre}} </td>
									<td ng-show="editorEnable">

										<select ng-model="newGenre" ng-options="x for x in genres" required>
											<option value="">{{x.genre}}</option>
										</select>
									</td>

									<td ng-hide="editorEnable"> {{x.price}}</td>
									<td ng-show="editorEnable"><input type="number" style="width: 50px;" placeholder="{{x.price}}" ng-model="newPrice"></td>

									<td ng-hide="editorEnable"> {{x.amount}} </td>
									<td ng-show="editorEnable"><input type="number" style="width: 30px;" placeholder="{{x.amount}}" ng-model="newAmount"></td>

									<input type="hidden" ng-model="newCreationDate" placeholder="{{x.creation_date}}">

									<td>
										<button type="button"><span class="glyphicon glyphicon-remove" ng-click="deleteMovie(x.id)"></span></button>
									</td>

									<td>
										<button type="button" id="btnUpdate"><span class="glyphicon glyphicon-cog" ng-click="editorEnable = !editorEnable"></span></button>
									</td>

									<td ng-show="editorEnable">
										<input type="submit" value="OK" ng-click="updateMovie(x, newTitle, newCover, newLength, newYear, newSynopsis, newGenre, newPrice, newAmount, newCreationDate)">
									</td>

								</tr>
							</form>
						</tbody>
					</table>
				</div>

	<div id="footer"><a href="index.html">Home</a> | About | &copy 2016 movios.se</div>

</body>
</html>
