<!DOCTYPE>
<html>
<title>Movio</title>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="CSS/stylesheet.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

</head>

<body ng-app="test" ng-controller="mainControl">
<script type="text/javascript" src="JS/getMovies.js"></script>



<div id="wrapper">
	<div id="header">

		<div id="search" class="text-center">
			<input type="text" size="40" placeholder="Search..." ng-model="search">
		</div>
		<div id="login">
			<div id="createAccountTxt" ng-hide="hideCreateAccountTxt">
				<a href="HTML/createCustomer.html">Skapa konto</a>
			</div>
			<br>
			<div id="logInTxt" ng-hide="hideLogInTxt">
				<a href="#" ng-click="showLoginFields = !showLoginFields;">Logga in</a>
			</div>

			<div id="loginFields" ng-show="showLoginFields">
				<form>

					<input ng-model="email" name="email" type="text" placeholder="email">
					<br>
					<input ng-model="password" type="password" placeholder="password">
					<br>
					<input type="submit" value="OK" ng-click="checkLogin()">
				</form>
			</div>

			<div id="loggedIn"></div>
			<div id="logOutTxt" ng-show="showLogOutTxt">
				<a href="" ng-click="reloadIndex()">Logga ut</a>
			</div>

		</div>



	</div>

	<div id="meny">
		<nav class="navbar navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="" ng-click="home()">Movios</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Om oss</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Bläddra filmer <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#" ng-click="hideContainer = false; moviesLink = true; actionLink = false; dramaLink= false; contactLink= false;">Visa alla</a></li>
							<li><a href="#" ng-click="hideContainer = false; moviesLink = false; actionLink= true; dramaLink = false; contactLink= false; getMoviesByGenre('ACTION')">Action</a></li>
							<li><a href="#" ng-click="hideContainer = false; moviesLink = false; actionLink = false; dramaLink= true; contactLink= false; getMoviesByGenre('DRAMA')">Drama</a></li>
						</ul>
					</li>
					<li><a href="#">Nyheter</a></li>
					<li><a href="#" ng-click="hideContainer = false; moviesLink = false; actionLink = false; dramaLink = false; contactLink= true;">Kontakt</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<br><br><br>

	<div id="container" ng-hide="hideContainer" align="center">

		<div ng-include="'showAll.html'" ng-show="moviesLink";></div>
		<div ng-include="'showAction.html'" ng-show="actionLink";></div>
		<div ng-include="'showDrama.html'" ng-show="dramaLink";></div>
		<div ng-include="'HTML/contact.html'" ng-show="contactLink";></div>


	</div>

	<div class="modal" id="modal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true"></span><span class="sr-only">Close</span></button>
				</div>
				<div class="modal-body">
					<div class="modal-content">
						<h3 class="modal-title text-center">{{ moreInfo.title }}</h3> <br>
						<h4 class="text-center">{{ moreInfo.price }} kr</h4>

						<img height="370"  style="padding: 20px;" src="data:image/JPEG;base64,{{moreInfo.cover}}"/>
						{{ moreInfo.synopsis }}


					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
				<!--	<button type="button" class="btn btn-default" ng-click="addToWishList(moreInfo.id, 1)" >Lägg till i önskelista</button> -->
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div>




	</div>
	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

	<div id="footer"><a href="" ng-click="home()">Hem</a> | Om oss | &copy 2016 movios.se</div>




</body>
</html>
