body{
	font-family: Montserrat !important;

}

.container-fluid{
	background-color: white;

}

.navbar-brand{
	color: #2BC1EB;
	font-size: 35px !important;
}


th, td {
	padding: 5px !important;
	text-align: left;
	width: 80px;
	min-width: 160px;
}


h1{
	text-align: center;
}

ul {
	list-style-type: none;
	color: black;


}

li a {
	display: block;
	color: #2BC1EB;
	text-decoration: none;
}


li a:hover {
	background-color: #555;
	color: white;
}

ul{
	list-style-type: none;
	margin-left:10px;
}

a{
	font-family: Montserrat !important;
	text-transform: uppercase;

}

a:hover {
	text-decoration:none !important;
	color: black !important;
	background-color: lightgrey !important;
}


.movies{
	height: 150px;
}

#header{
	width: 100%;
	height: 40%;
	background-image: url(../PICS/up.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

#meny{
	background-color: white;
}

#loggedIn{
	color: white;
}

#container{
	width: 100%;
}

#adminContainer{
	width: 100%;

}

#search{
	position: relative;
	text-align: center;
	top: 50%;
}

#login{
	float:right;
	width:10%;
	text-align: left;

}

#login a{
	color: white;
}

#loginFields{
	height: 30%;
}

#userIcon{
	font-size: 30px;
	background: #2BC1EB;
	border: none;
	color: white
}

#userIcon:hover {
	cursor: pointer;
	color: grey;
}

#cartIcon{
	font-size: 30px;
	background: #2BC1EB;
	border: none;
	color: white
}

#cartIcon:hover {
	cursor: pointer;
	color: grey;
}

#footer{
	clear:both;
	height: 140px;
	text-align:center;
	padding:5px;
}


#wrapper{
	width:100%;
	margin:0 auto;
	text-align:left;
}

@media screen and (min-width: 768px) {

	#modal .modal-dialog  {width:900px;}

}

<!-- MODAL -->
#modal .modal-dialog  {
	width:100%;
}

