body{
	font-family: Montserrat !important;

}

.container-fluid{
	background-color: white;
}

.navbar-brand{
	color: #2BC1EB;
	font-size: 35px !important;
}


th, td {
	padding: 5px !important;
	text-align: left;
	width: 100px;
	min-width: 80px;
}


h1{
	text-align: center;
}

ul {
	list-style-type: none;
	color: black;
}

li a {
	display: block;
	color: #2BC1EB;
	text-decoration: none;
}


li a:hover {
	background-color: #555;
	color: white;
}

ul{
	list-style-type: none;
	margin-left:10px;
}

a{
	font-family: Montserrat !important;
	text-transform: uppercase;

}

a:hover {
	text-decoration:none !important;
	color: black !important;
	background-color: lightgrey !important;
}


.movies{
	height: 150px;
}

#header{
	width: 100%;
	height: 40%;
	background-image: url(../PICS/up.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

#meny{
	background-color: white;
}

#loggedIn{
	color: white;
}

#container{
	width: 100%;
}

#adminContainer{
	width: 100%;
}

#adminTable{
	margin: auto;
	width: 85%;
	padding: 10px;
}

.txtArea {
	padding:0px;
	width:200px;
	height:26px;
	margin: 0 0 -8px -1px;
}

#search{
	position: relative;
	text-align: center;
	top: 50%;
}

#login{
	float:right;
	width:10%;
	text-align: left;

}

#login a{
	color: white;
}

#removeFromCart{
	cursor: pointer;
}

#addToCart{
	cursor: pointer;
}

#loginFields{
	height: 30%;
}

#cartIcon{
	font-size: 30px;
	background: #2BC1EB;
	border: none;
	color: white
}

#cartIcon:hover {
	cursor: pointer;
	color: grey;
}

#footer{
	clear:both;
	height: 140px;
	text-align:center;
	padding:5px;
}

#wrapper{
	width:100%;
	margin:0 auto;
	text-align:left;
}

.adminInput{
	width: 140px;
}

@media screen and (min-width: 700px) {
	#modal .modal-dialog  {width:900px;}
}

#modal .modal-dialog  {
	width:40%;
}

.modalSynopsis{
	width: 60%;
	left: 130px;
	position: relative;
}

.modalSynopsis span {
	position: absolute;
	bottom: 0;
	right: 0;
}

.form-group{
	width: 20%;
}

