<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

      <title>Movios</title>
    <style>

        input.ng-invalid {
            border-color: pink;

        }
        input.ng-valid {
            border-color: lightgreen;
        }
        input {
            padding: 4px 5px;
            background-color: white;
        }
    .login-container{
      position: relative;
      width: 300px;
      margin: 80px auto;
      padding: 20px 40px 40px;
      text-align: center;
      border: 2px solid #ccc;
      border-radius: 5px;
    }


      #loginBtn{
        margin-top: 15px;
        padding: 10px 20px;

      }
      h4{
        color: gray;
      }
    </style>
  </head>
  <body ng-app="validationApp" ng-controller="mainController">
  <script type="text/javascript" src="../JS/createCustomer.js"></script>
  <script type="text/javascript" src="../JS/checkCustomerValid.js"></script>

  <div class="container">
	<div class="login-container">
            <div class="form-box">
                <form name="userForm" ng-submit="submitForm()" novalidate>

                    <!-- FIRST NAME -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid && !userForm.firstName.$pristine }">
                        <label>Förnamn</label>
                        <input type="text" name="firstName" class="form-control" ng-model="user.firstName" required>
                        <p ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine" class="help-block">Skriv in ditt förnamn.</p>
                    </div>

                    <!-- LAST NAME -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                        <label>Efternamn</label>
                        <input type="text" name="lastName" class="form-control" ng-model="user.lastName" required>
                        <p ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine" class="help-block">Skriv in ditt efternamn</p>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" ng-model="user.email" required>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Skriv in en email-adress</p>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                        <label>Password</label>
                        <input type="password" min="6" max="20" name="password" class="form-control" ng-model="user.password" required>
                        <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Skriv in lösenord.</p>
                    </div>

                    <!-- ADDRESS -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.address.$invalid && !userForm.address.$pristine }">
                        <label>Adress</label>
                        <input type="text" name="address" class="form-control" ng-model="user.address" required>
                        <p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block">Skriv in din adress.</p>
                    </div>

                    <!-- ZIPCODE -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.zipCode.$invalid && !userForm.zipCode.$pristine }">
                        <label>Post NR</label>
                        <input type="number" name="zipCode" class="form-control" maxlength="5" minlength="5"
                               ng-model="user.zipCode" required>
                        <p ng-show="userForm.zipCode.$invalid && !userForm.zipCode.$pristine" class="help-block">Skriv in ditt post nr med 5 siffror.</p>
                    </div>

                    <!-- CITY -->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.city.$invalid && !userForm.city.$pristine }">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" ng-model="user.city" required>
                        <p ng-show="userForm.city.$invalid && !userForm.city.$pristine" class="help-block">Skriv in stad.</p>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">OK</button>

                </form>
            </div>

            </div>
        </div>

</div>
  </body>
</html>
