<h1>{{getGenre}}</h1>
<hr>
<table id="listAllMovies" ng-hide="found == true">
    <tr>
        <th>Omslag</th>
        <th>Titel</th>
        <th>Längd</th>
        <th>Utgivningsår</th>
        <th>Genre</th>
        <th>Pris</th>
    </tr>

    <tbody ng-repeat="x in moviesByGenre | filter:search" ng-if="x.amount > 0">

    <tr>
        <td><img height="120px" src="{{x.coverStr}}" alt="image"/></td>

        <td>{{ x.title }}</td>
        <td>{{ x.length }}</td>
        <td>{{ x.release_year }}</td>
        <td>{{ x.genre }}</td>
        <td>{{ x.price }}</td>
        <td><input type="submit" value="Lägg i kundkorg" ng-click="addToCart(x)"></td>
        <td><button type="button" data-toggle="modal" data-target="#modal" ng-click="readMore(x.id)">Läs mer</button></td>
    </tr>
    </tbody>
</table>

<br><br>

<p ng-if="found == true ">Vi har för tillfället inga filmer med den här genren</p>

