<!DOCTYPE>
<html>
<title>Movio</title>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../CSS/stylesheet.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
	
</head>

<body ng-app="test" ng-controller="mainControl">
	<script type="text/javascript" src="../JS/getMovies.js"></script>
	

	<div id="wrapper">
				<div id="header">
					<div id="search" class="text-center">
						<input type="text" size="40" placeholder="Search...">
						<input type="button" id="searchBtn" value="OK">
					</div>
					<div id="login">
					 <div class="dropdown">
						<span class="glyphicon glyphicon-user" data-toggle="dropdown" id="userIcon"></span>
						
						<ul class="dropdown-menu">
						  <li><a href="../HTML/logIn.html">Login</a></li>
						  <li><a href="../HTML/createCustomer.html">Create Account</a></li>						  
						</ul>
						<br><br>
						
						<div id="cart">						
						<span class="glyphicon glyphicon-shopping-cart" data-toggle="dropdown" id="cartIcon"></span>
						<input type="button" id="checkout" value="Till kassan">
							<div id="cartBody">
							
							</div>
						</div>
						
					</div>					
						
						
					</div>
					<div id="left">
					<img id="logo" src="../PICS/logo.jpg"/>
					<ul>
						<li>
							<a href="movios.html">Visa alla filmer</a>
						</li>
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Drama</a>
						</li>
						<li>
							<a href="#">Thriller</a>
						</li>
						<li>
							<a href="#">Komedi</a>
						</li>
						<li>
							<a href="#">Sci-Fi</a>
						</li>
						<li>
							<a href="#">Äventyr</a>
						</li>
						<li>
							<a href="#">Romantik</a>
						</li>
						<li>
							<a href="#">Barn</a>
						</li>
						<li>
							<a href="#">Erbjudanden</a>
						</li>
						<li>
							<a href="#">Topplistor</a>
						</li>
						<li>
							<a href="index.html">Hem</a>
						</li>
				</ul>
				</div>
			</div>

		<div id="container">
			<div id="middle" align="center">
				<table id="temp">
					<tr>
						<th>Cover</th>
						<th>Title</th>
						<th>Length</th>
						<th>Release year</th>
						<th>Genre</th>
						<th>Price</th>
						
					</tr>

					<tbody ng-repeat="x in movies | filter:search">
						<tr>
							<td><img height="120" width="80" src="data:image/JPEG;base64,{{x.cover}}"/></td>						
							<td>{{ x.title }}</td>
							<td>{{ x.length }}</td>
							<td>{{ x.release_year }}</td>
							<td>{{ x.genre }}</td>
							<td>{{ x.price }}</td>
							<td><input type="submit" value="Add to cart" ng-click="addToCart(x.id)"></td>							

						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br><br><br>		
		
		<div id="footer"><a href="../index.html">Home</a> | About | &copy 2016 movio.se</div>

	</div>


</body>
</html>
