    <h1>ÄNDRA KONTO</h1>
    <hr>
    <div class="login-container">
            <div class="form-box">
                <form name="userForm">

                    <!-- FIRST NAME -->
                    <div class="form-group">
                        <label>Förnamn</label>
                        <p ng-hide="editorEnable"><em>{{ userObj.first_name }}</em></p>
                        <input ng-show="editorEnable" type="text" name="firstName" ng-value="userObj.first_name" class="form-control" ng-model="newFirstName" required>
                    </div>

                    <!-- LAST NAME -->
                    <div class="form-group" >
                        <label>Efternamn</label>
                        <p ng-hide="editorEnable"><em>{{ userObj.last_name }}</em></p>
                        <input ng-show="editorEnable" type="text" name="lastName" ng-value="userObj.last_name" class="form-control" ng-model="newLastName" required>
                    </div>

                    <!-- EMAIL -->
                    <div class="form-group">
                        <label>Email</label>
                        <p ng-hide="editorEnable"><em>{{ userObj.email }}</em></p>
                        <input ng-show="editorEnable" type="email" name="email" ng-value="userObj.email" class="form-control" ng-model="newEmail" required>
                    </div>

                    <!-- PASSWORD -->
                    <div class="form-group">
                        <label>Password</label>
                        <p ng-hide="editorEnable"><em>********</em></p>
                        <input ng-show="editorEnable" type="password" min="6" max="20" ng-value="userObj.password" name="password" class="form-control" ng-model="newPassword" required>
                    </div>

                    <!-- ADDRESS -->
                    <div class="form-group">
                        <label>Adress</label>
                        <p ng-hide="editorEnable"><em>{{ userObj.address }}</em></p>
                        <input ng-show="editorEnable" type="text" name="address" ng-value="userObj.address" class="form-control" ng-model="newAddress" required>
                    </div>

                    <!-- ZIPCODE -->
                    <div class="form-group">
                        <label>Post NR</label>
                        <p ng-hide="editorEnable"><em>{{ userObj.zip_code }}</em></p>
                        <input ng-show="editorEnable" type="number" name="zipCode" ng-value="userObj.zip_code" class="form-control" maxlength="5" minlength="5"
                               ng-model="newZipCode" required>
                    </div>

                    <!-- CITY -->
                    <div class="form-group">
                        <label>City</label>
                        <p ng-hide="editorEnable"><em>{{ userObj.city }}</em></p>
                        <input ng-show="editorEnable" type="text" name="city" ng-value="userObj.city" class="form-control" ng-model="newCity" required>
                    </div>

                    <button type="submit" class="btn btn-primary" ng-show="editorEnable" ng-click="updateUserForm(userObj, newFirstName, newLastName, newEmail, newPassword, newAddress, newZipCode, newCity); editorEnable = !editorEnable" >OK</button>
                    <button type="submit" class="btn btn-primary" ng-hide="editorEnable"  ng-click="editorEnable = !editorEnable">Uppdatera</button>
                </form>
            </div>
        </div>

